*{
    margin: 0;
    padding: 0;
    font-family: myFont;
}

@font-face {
    font-family: myFont;
    src: url(F:\coding\FrontEnd\Projects\Calcluator\font\digital-7\myFont.ttf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

#Calculator {
    padding: 8px;
    background: linear-gradient(rgb(0, 50, 70) , rgb(15, 95, 135));
    border-radius: 10px;
    border: solid white 3px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
}

#output input{
    height: 38px;
    width: 180px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 30px;
    text-align: right;
    border-radius: 5px;
    border: double 2px black;

    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);


}

#del {
    background-color: orange;
    transition: all 0.3s ease-in-out;
}

#del:hover{
    background: linear-gradient(red , rgb(255, 136, 0));
    color: black;
    border: 2px white solid;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
}

#C {
    width: 94px;
    background-color: orange;
    transition: all 0.3s ease-in-out;
}

.btn , .btn-op{
    height: 45px;
    width: 45px;
    border: none;
    margin: 2px 0px;
    font-size: 18px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.btn-op{
    background: linear-gradient(gray , rgb(161, 161, 161));
    color: white;
    transition: all .3s ease-in-out; 
}

#C:hover{
    background: linear-gradient(red , rgb(255, 136, 0));
    color: black;
    border: 2px white solid;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
    

}

.btn:hover{
    background: linear-gradient(rgba(0, 55, 80, 0.6) , rgba(0, 135, 197, 0.6));
    color: white;
    border: 2px white solid;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
    
}

.btn-op:hover{
    background: linear-gradient(rgb(70, 70, 70) , rgb(110, 110, 110));
    color: white;
    border: 2px white solid;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
}
